- name: create profile.d directory
  file: 
    path: "{{ profiled_directory }}"
    state: directory
    mode: '0700'
- name: set profile.d directory fact
  set_fact:
    profiled_directory: "{{ profiled_directory }}"
- name: copy profile
  copy:
    src: ./profile
    dest: "{{ home }}/.profile"
- name: copy profile.d scripts
  copy:
    src: "{{ item }}"
    dest: "{{ profiled_directory }}/"
  with_fileglob:
    - "files/*.sh"
