plugged/*
*.swp
.netrwhist
**/node_modules/
node_modules/
coc/extensions/
coc/list_history.dat
coc/memos.json
coc/memos.json
coc/commands
.*_inventory.ini

inventory/remote.ini
inventory/group_vars/all/secrets.yaml
.spec/
