---
- name: Ensure zinit directory exists
  file:
    path: "{{ home }}/.local/share/zinit/zinit.git"
    state: directory

- name: Install zinit
  git:
    repo: https://github.com/zdharma-continuum/zinit.git
    dest: "{{ home }}/.local/share/zinit/zinit.git"
    depth: 1

- name: Template .zshrc
  template:
    src: zshrc
    dest: "{{ home }}/.zshrc"
