---
- name: Ensure zinit directory exists
  ansible.builtin.file:
    path: "{{ home }}/.local/share/zinit/zinit.git"
    state: directory
    mode: '0755'

- name: Install zinit
  ansible.builtin.git:
    repo: https://github.com/zdharma-continuum/zinit.git
    dest: "{{ home }}/.local/share/zinit/zinit.git"
    depth: 1
    version: "{{ zinit_version | default('HEAD') }}"

- name: Template .zshrc
  ansible.builtin.template:
    src: zshrc
    dest: "{{ home }}/.zshrc"
    mode: '0644'
