format = """
$time\
$hostname\
$directory\
$git_branch\
$git_status\
$cmd_duration\
$character"""

[time]
disabled = false
format = "[$time]($style) "
style = "dimmed"

[hostname]
ssh_only = true
format = "[$hostname]($style) "
style = "bold cyan"

[cmd_duration]
min_time = 2000
format = "[$duration]($style) "
style = "yellow"

[directory]
truncation_length = 3

[git_branch]
format = "[$branch]($style) "

[git_status]
ahead = '⇡${count}'
diverged = '⇕⇡${ahead_count}⇣${behind_count}'
behind = '⇣${count}'

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
