- name: Print os_family
  debug:
    msg: "OS Family: {{ ansible_facts['os_family'] }}. Should Become: {{ should_become }}"

- name: Install packages
  become: "{{ should_become }}"
  ansible.builtin.package:
    name:
      - ripgrep
      - fzf
      - zoxide
      - bat
      - eza
      - git-delta
      - neovim
    state: present
  ignore_errors: true
