---
- name: Print os_family
  ansible.builtin.debug:
    msg: "OS Family: {{ ansible_facts['os_family'] }}. Should Become: {{ should_become }}"

- name: Install packages
  become: "{{ should_become }}"
  ansible.builtin.package:
    name:
      - fzf
      - neovim
    state: present
  failed_when: false

- name: Install cargo packages
  loop: "{{ install_software_cargo_packages }}"
  ansible.builtin.shell: |
    set -o pipefail
    . "{{ ansible_facts['user_dir'] }}/.cargo/env"
    cargo install {{ item }}
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.cargo/bin/{{ item | regex_replace('^git-', '') }}"
    executable: /bin/bash
