[general]
import = [
  "{{ alacritty_config_dir }}/themes/themes/hyper.toml"
]

[env]
TERM = "xterm-256color"
[font]
normal.family = "MonaspiceAr Nerd Font Mono"
bold.family = "MonaspiceAr Nerd Font Mono"
italic.family = "MonaspiceRn Nerd Font Mono"
bold_italic.family = "MonaspiceRn Nerd Font Mono"

[keyboard]
bindings = [
  { key = "Right", mods = "Alt", chars = "\u001BF" },
  { key = "Left",  mods = "Alt", chars = "\u001BB" },
  { key = "Left",  mods = "Control", chars = "\u001BB" },
  { key = "Right", mods = "Control", chars = "\u001BF" },
  { key = "H",  mods = "Control", chars = "\u001BB" },
  { key = "L", mods = "Control", chars = "\u001BF" },
]
[window]
option_as_alt = "Both"
