
- name: create sway config directory
  file:
    path: "{{ swayconfig_dir }}"
    state: directory
    mode: '0755'
- name: copy sway
  copy:
    src: ./swayconfig
    dest: "{{ swayconfig_dir }}/config"

