---
- name: Install sway
  become: true
  ansible.builtin.package:
    name: sway
    state: present
- name: Create sway config directory
  ansible.builtin.file:
    path: "{{ sway_swayconfig_dir }}"
    state: directory
    mode: "0755"
- name: Symlink sway config
  ansible.builtin.file:
    src: "{{ playbook_dir }}/../roles/sway/files/swayconfig"
    dest: "{{ sway_swayconfig_dir }}/config"
    state: link
