- name: Install sway
  become: true
  ansible.builtin.package:
    name: sway
    state: present
- name: create sway config directory
  file:
    path: "{{ swayconfig_dir }}"
    state: directory
    mode: '0755'
- name: Symlink sway config
  file:
    src: "{{ playbook_dir }}/../roles/sway/files/swayconfig"
    dest: "{{ swayconfig_dir }}/config"
    state: link

