- name: create alacritty directory
  file:
    path: "{{ alacritty_config_dir }}"
    state: directory
    mode: '0755'
- name: create alacritty themes directory
  file:
    path: "{{ alacritty_config_dir }}/themes"
    state: directory
    mode: '0755'
- name: clone alacritty-theme repository
  ansible.builtin.git:
    repo: 'https://github.com/alacritty/alacritty-theme.git'
    dest: "{{ alacritty_config_dir }}/themes"
    version: master
    depth: 1
    update: yes
- name: copy alacritty.toml
  template:
    src: alacritty.toml.j2
    dest: "{{ alacritty_config_dir }}/alacritty.toml"
- name: install alacritty
  become: "{{ should_become }}"
  ansible.builtin.package:
    name: alacritty
    state: present
