- name: Set mergetool
  community.general.git_config:
    name: merge.tool
    scope: global
    value: nvimdiff
- name: Set email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ email_address }}"
- name: Set name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ full_name }}"
- name: Set editor
  community.general.git_config:
    name: core.editor
    scope: global
    value: nvim
- name: Set default branch
  community.general.git_config:
    name: init.defaultBranch
    scope: global
    value: main
- name: Set pull rebase
  community.general.git_config:
    name: pull.rebase
    scope: global
    value: "true"
- name: Set push autoSetupRemote
  community.general.git_config:
    name: push.autoSetupRemote
    scope: global
    value: "true"
