- name: Validate required variables
  ansible.builtin.assert:
    that:
      - full_name | length > 0
      - email_address | length > 0
    fail_msg: "full_name and email_address must be set. Create inventory/group_vars/all/secrets.yaml or set FULL_NAME/EMAIL env vars."

- name: Set mergetool
  community.general.git_config:
    name: merge.tool
    scope: global
    value: nvimdiff
- name: Set email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ email_address }}"
- name: Set name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ full_name }}"
- name: Set editor
  community.general.git_config:
    name: core.editor
    scope: global
    value: nvim
- name: Set default branch
  community.general.git_config:
    name: init.defaultBranch
    scope: global
    value: main
- name: Set pull rebase
  community.general.git_config:
    name: pull.rebase
    scope: global
    value: "true"
- name: Set push autoSetupRemote
  community.general.git_config:
    name: push.autoSetupRemote
    scope: global
    value: "true"
- name: Set pager to delta
  community.general.git_config:
    name: core.pager
    scope: global
    value: delta
- name: Set interactive diffFilter
  community.general.git_config:
    name: interactive.diffFilter
    scope: global
    value: delta --color-only
- name: Enable delta navigate
  community.general.git_config:
    name: delta.navigate
    scope: global
    value: "true"
