- name: Install Software
  hosts: all
  roles:
    - role: install_software
      tags: install_software
    - role: fonts
      tags: fonts

- name: Configure dotfiles
  hosts: all
  vars:
    home: "{{ ansible_facts['user_dir'] }}"
  roles:
    - role: zsh
      tags: zsh
    - role: neovim
      tags: neovim
    - role: alacritty
      tags: alacritty
    - role: starship
      tags: starship
    - role: workplace_directory
      tags: workplace_directory
    - role: language_managers
      tags: language_managers
    - role: zellij
      tags: zellij
    - role: gitconfig
      tags: gitconfig
    - role: editorconfig
      tags: editorconfig
    # - role: sway
    #   tags: sway
    #   when: ansible_system != 'Darwin'
