- name: Install Software
  hosts: all
  roles:
    - { role: ../roles/install_software }
- name: Configure dotfiles
  hosts: all
  vars:
    home: "{{ ansible_env.HOME }}"
  roles:
    - { role: ../roles/zsh }
    - { role: ../roles/profile }
    - { role: ../roles/neovim }
    - { role: ../roles/tmux }
    - { role: ../roles/alacritty }
    - { role: ../roles/workplace_directory }
    - { role: ../roles/nvm }
    - { role: ../roles/zellij }
    - { role: ../roles/gitconfig }
    - { role: ../roles/sway, when: ansible_system != 'Darwin' }
