- name: "Configure {{ config | default('unspecified') }}"
  hosts: all
  vars:
    home: "{{ ansible_facts['user_dir'] }}"
    config: "{{ config | default('') }}"
  roles:
    - role: "{{ config }}"
