- name: Install Software
  hosts: all
  roles:
    - role: install_software

- name: Configure dotfiles
  hosts: all
  vars:
    home: "{{ ansible_env.HOME }}"
  roles:
    - role: zsh
    # profile role is included via meta dependencies in neovim, asdf, and rust
    - role: neovim
    - role: tmux
    - role: alacritty
    - role: workplace_directory
    - role: asdf
    - role: rust
    - role: zellij
    - role: gitconfig
    # - role: sway
    #   when: ansible_system != 'Darwin'
