- name: Install Software
  hosts: all
  roles:
    - role: install_software

- name: Configure dotfiles
  hosts: all
  vars:
    home: "{{ ansible_facts['user_dir'] }}"
  roles:
    - role: zsh
    # profile role is included via meta dependencies in neovim and language_managers
    - role: neovim
    - role: tmux
    - role: alacritty
    - role: workplace_directory
    - role: language_managers
    - role: zellij
    - role: gitconfig
    # - role: sway
    #   when: ansible_system != 'Darwin'
