- name: create neovim directory
  file:
    path: "{{ home }}/.neovim"
    state: directory
    mode: '0755'

- name: create config folder
  file:
    path: "{{ home }}/.config/nvim"
    state: directory
    mode: '0755'

- name: Symlink init.lua
  file:
    src: "{{ playbook_dir }}/../roles/neovim/files/init.lua"
    dest: "{{ home }}/.config/nvim/init.lua"
    state: link

- name: Symlink lua directory
  file:
    src: "{{ playbook_dir }}/../roles/neovim/files/lua"
    dest: "{{ home }}/.config/nvim/lua"
    state: link

- name: Symlink ftplugin directory
  file:
    src: "{{ playbook_dir }}/../roles/neovim/files/ftplugin"
    dest: "{{ home }}/.config/nvim/ftplugin"
    state: link

- name: Symlink after directory
  file:
    src: "{{ playbook_dir }}/../roles/neovim/files/after"
    dest: "{{ home }}/.config/nvim/after"
    state: link

- name: Add neovim profile file
  when: profiled_directory is defined
  copy:
    src: "profile"
    dest: "{{ profiled_directory }}/neovim.sh"
