- name: Create neovim directory
  ansible.builtin.file:
    path: "{{ home }}/.neovim"
    state: directory
    mode: '0755'

- name: Create config folder
  ansible.builtin.file:
    path: "{{ home }}/.config/nvim"
    state: directory
    mode: '0755'

- name: Symlink init.lua
  ansible.builtin.file:
    src: "{{ playbook_dir }}/../roles/neovim/files/init.lua"
    dest: "{{ home }}/.config/nvim/init.lua"
    state: link

- name: Symlink lua directory
  ansible.builtin.file:
    src: "{{ playbook_dir }}/../roles/neovim/files/lua"
    dest: "{{ home }}/.config/nvim/lua"
    state: link

- name: Symlink ftplugin directory
  ansible.builtin.file:
    src: "{{ playbook_dir }}/../roles/neovim/files/ftplugin"
    dest: "{{ home }}/.config/nvim/ftplugin"
    state: link

- name: Symlink after directory
  ansible.builtin.file:
    src: "{{ playbook_dir }}/../roles/neovim/files/after"
    dest: "{{ home }}/.config/nvim/after"
    state: link

- name: Add neovim profile file
  when: profile_profiled_directory is defined
  ansible.builtin.copy:
    src: "profile"
    dest: "{{ profile_profiled_directory }}/neovim.sh"
    mode: '0644'
